body{
	margin: 0px;
	padding: 0px;
}
header{
	width:100%;
	height: 70px;
	position:fixed; 
	top: 0px;
	border-bottom:1px solid #666666 ;
}
header img{
	width: 20%;
	height: 100%;
	float: left;
}
.headerTop{
	width: 80%;
	height: 40px;
	background-color: #C6C6C6;
	float: right;
}
.headerTop ul{
	list-style: none;
	margin-left: 20px;
}
.headerTop li{
	margin-left: 10px;
	float: left;
	line-height: 250%;
}
.headerTop li>button{
	margin-left: 10px;
	width: 100px;
}
.headerTop li>span{
	line-height: 200%;
	color: #666666;
	font-size: 18px;
}
.headerButtom{
	width: 80%;
	height: 30px;
	background-color: #b6c0c9;
	float: right;
}
.headerButtom ul {
	list-style: none;
	margin-left:10px;
}
.headerButtom ul li{
	float: left;
	margin-right: 1%;
	line-height: 200%;
	color: black;
}

.sidebar{
	width: 13%;	
	background-color:white ;
	margin-top: 70px;
	float: left;
}
.sidebar-button{
	background-color: #F6F6F6;
	width: 0.5%;
	float: left;
}
.sidebar-button>img{
	margin-top: 50%;
}
.content{
	float: right;
	width: 86.5%;
	margin-top: 70px;
	overflow: auto;
}
.content-header{
	margin-top: 10px;
	padding-top:2px ;
	height: auto;
	width: 99%;
}
 .layui-inline{
 	margin-right: 2%!important;
 }
 .selectBtn{
 	margin-right: 20px;
 	float: right;
 }
 .fromSenior{
 	width: 100%;
 	height: 200px;
 }
footer{
	position:fixed; 
	bottom: 0px;
	width: 100%;
	height: 30px;
	background-color:#eee ;
}
footer>p{
	color: #666666;
	line-height: 30px;
	float: right;
	margin-right: 50px;
}
