body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: #ECF0F5;
}
#header{
	width:100%;
	height: 70px;
	position:fixed; 
	top: 0px;
	z-index: 10;
	border-bottom:1px solid #666666 ;
	background-color: #393D49;
}
header img{
	width: 200px;
	height: 100%;
	float: left;
}
.layui-anim-upbit{
	color: black;
}
.headerTop{
	height: 40px;
	margin-right: 20px;
	float: right;
	color: #FFFFFF;
}
.headerTop ul{
	list-style: none;
	margin-left: 20px;
}
.headerTop li{
	margin-left: 10px;
	float: left;
	line-height: 40px;
}
.headerTop li>button{
	margin-left: 10px;
	width: 100px;
}
.headerTop li>span{
	line-height: 200%;
	font-size: 18px;
}
.headerButtom{
	width: 700px;
	height: 30px;
	float: right;
	color: #FFFFFF;
}
.headerButtom ul {
	clear: both;
	list-style: none;
	margin-left:10px;
}
.headerButtom ul li{
	float: left;
	margin-right: 1%;
	line-height: 30px;
}

.sidebar{
	margin-top: -5px;
	width: 200px;	
	background-color:#393D49;
	float: left;
	/*margin-top: 70px;*/
}
.sidebar-button{
	width: 0.5%;
	float: left;
}
.sidebar-button>img{
	margin-top: 50%;
}

.sidebar-bg{
	
	padding-left: 50px!important;
}

.sidebar-bg1{
	background: url(../../img/user/index/u269.png) no-repeat center;
	background-position: 20px 12px;
	background-size: 16px 16px;
}

.sidebar-bg2{
	background: url(../../img/user/index/user.png) no-repeat center;
	background-position: 20px 12px;
	background-size: 16px 16px;
}

.sidebar-bg3{
	background: url(../../img/user/index/commodity.png) no-repeat center;
	background-position: 20px 12px;
	background-size: 16px 16px;
}

.sidebar-bg4{
	background: url(../../img/user/index/order.png) no-repeat center;
	background-position: 20px 12px;
	background-size: 16px 16px;
}
#content{
	/*width: 85%;*/
	margin-top: 70px;
	overflow: auto;
	/*float: right;*/
}