{include file="static/view/inc_header.html" /}

<script type="text/javascript">
{literal}
$(function()
{
$("#username").focus();
$(".textbox").focus(
    function(){
        $(this).addClass("focus");
    });
    
$(".textbox").blur(
    function(){
        $(this).removeClass("focus");
    });	
    
$("body").css("margin","0px");
});
{/literal}
</script>

<div class="login_message"><a href="../"><-返回网站首页</a></div>
<div class="login" >
<img src="__STATIC__/img/logo.gif" />
<form name="form1" action="{:url('admin/Login/login')}" method="post" target="_top">
<label for="username">用户名：</label><br /><input type="text" name="username" id="username" maxlength="20" class="textbox" /><br />
<label for="password">密码：</label><br /><input type="password" name="password" id="password" maxlength="20" class="textbox" />
<input type="submit" value="登录" class="button" />

</form>
</div>

{include file="static/view/inc_footer.html" /}