{include file="static/view/inc_header.html"}

<h1>媒体-全部<em></em></h1><div class="notice"></div>
<ul id="tools">
<li><a href="{:url('Cat/add')}">新建</a></li>
<li><a href="javascript:window.location.reload();">刷新</a></li>
</ul>

<div class="formsearch" style="display:none">
<input id="key" value="" />
<input type="button" class="buttonsearch" rel="?inc=admin/article_index" value="搜索" />
</div>

<table cellspacing="0" class="dataTable">
<tr>
<th style="width:50px;">ID</th>
<th >名称</th>
<th style="width:300px;">稿费(元/篇)</th>
<th style="width:280px;">操作</th>
</tr>
{foreach $list['data'] as $vo}
<tr>
<td>{$vo['id']}</td>
<td>{$vo['name']}</td>
<td>{$vo['payment']}</td>
<td><a class="btn1" href="{:url('Cat/mod')}?cat_id={$vo['id']}">修改</a>
<a class="btn1" href="{:url('Cat/del')}?cat_id={$vo['id']}" onClick="javascript:return confirm('确定删除吗？')">删除</a>
{if condition="$vo['status']!=1"}
<a class="btn1" href="{:url('Cat/status')}?cat_id={$vo['id']}" >设为默认媒体</a>
{else /}
<span class="btn1" >设为默认媒体</span>
{/if}
</td>
</tr>
{/foreach}
</table>
{$list['page']}
<!--<div class="pages"><a href="/admin?inc=admin/article_index&page=1" class="current" >1</a></div>-->



{include file="static/view/inc_footer.html"}