<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="pic1" style="width: 37%;height: 400px;float:left;margin: 30px 0;"></div>
<div id="main" style="width: 60%;height: 400px;float:left;margin: 30px 0;"></div>


<script src="__JS__/echarts.min.js"></script>

<!--饼图-->
<script>
    var myCharts1 = echarts.init(document.getElementById('pic1'));
    option = {
        title : {
            text: '稿件状态统计',
            subtext: '全部',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: [{foreach $list as $v}'{$v['name']}',{/foreach}]
        },
        color:['#8bc34a','#00bcd4','#ba68c8','#ffa726','#ef5350','#4aa8f3'],
        series : [
            {
                name: '稿件数量',
                type: 'pie',
                radius : '65%',
                center: ['50%', '60%'],
                data:[
                	{foreach $list as $v}
               			{value:{$v['count']}, name:'{$v['name']}'},
               		{/foreach}
  
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

    myCharts1.setOption(option);
</script>


<!--折线图-->
<script>

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    // 指定图表的配置项和数据
    option = {
        title: {
            text: '年度稿件数量统计'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['{:date("Y")-1}年','{:date("Y")}年']
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
        },
        yAxis: {
            type: 'value',
            splitLine:{show: false},
            max:{$max},
            min:0,
            splitNumber:5,
            splitArea:{ show:true,
                areaStyle:{
                    color: ['rgba(76,167,76,1)','rgba(183,219,76,1)','rgba(255,255,76,1)','rgba(255,193,76,1)','rgba(255,76,76,1)']
                }
            }
        },
        series: [{
                name:'{:date("Y")-1}年',
                type:'line',
                smooth:true, //把曲线变圆滑
                data:[ {foreach $last_year as $k=>$s}{$s['count'].','}{/foreach}]
            },
            {
                name:'{:date("Y")}年',
                type:'line',
                smooth:true, //把曲线变圆滑
                data:[{foreach $this_year as $key=>$val}{$val['count'].','}{/foreach}]
            }
             
        ]
        
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>